h1 {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding: 40px 0;
  a {
    color: #00f;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    transition: .2s;
  }
  a:hover {
    color: #f60;
  }
  span {
    display: inline-block;
    margin: 0 20px;
  }
}
table {
  margin: 0 auto;
  max-width: 1280px;
}
tr {
  border-top: 1px solid #000;
}
th,td {
  text-align: center;
  padding: 10px 4px;
  font-size: 14px;
  border: 1px solid #000;
}


.form {
  text-align: center;
  max-width: 864px;
  margin: 0 auto 40px;
  &__search {
    padding: 10px;
    width: 90%;
  }
  &__search-button {
    background-color: #eee;
    border: none;
    color: #325cf8;
  }
  &__search-button:hover {
    color: #f60;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    font-size: 18px;
    input,select {
      width: 80%;
      padding: 10px;
    }
  }
  &__button {
    margin-top: 20px;
    padding: 8px 30px;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #325cf8;
    color: #325cf8;
  }
  &__button:hover {
    border: 1px solid #f60;
    color: #f60;
    transition: .2s;
  }
}

@media (min-width:768px) {


}