h1 {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding: 20px 0;

  a {
    color: #00f;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    transition: .2s;
  }

  a:hover {
    color: #f60;
  }

  span {
    display: inline-block;
    margin: 0 20px;
  }
}

h2 {
  margin-left: 7px;
}

.flex__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  &__inner {
    width: 340px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);

    img {
      width: 100%;
      height: 200px;
      border-radius: 8px 8px 0 0;
    }
  }

  &__text {
    padding: 30px 20px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    p {
      margin: 4px 0 16px;
      padding: 0;
      font-size: 14px;
    }

    a {
      color: #fff;
      background-color: #325cf8;
      padding: 4px 12px;
      border-radius: 4px;
      font-size: 15px;
    }

    a:hover {
      background-color: #f60;
      transition: .4s;
    }
  }

  &__link {
    position: relative;
  }
}

.form {
  max-width: 864px;
  margin: 0 auto 40px;

  &__text {
    margin: 20px 0;
    padding: 10px;

    label {
      display: block;
      font-size: 14px;
      margin: 0 0 5px 5px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
    }
  }

  &__text--confirm {
    margin: 20px 0;
    padding: 10px;
    font-size: 14px;

    label {
      display: block;
      font-size: 14px;
      margin: 0 0 5px 5px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #ddd;
      outline: none;
    }
  }

  &__button {
    display: block;
    width: 180px;
    margin: 0 auto;
    padding: 8px 30px;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #325cf8;
    color: #325cf8;
    cursor: pointer;
  }

  &__button:hover {
    border: 1px solid #f60;
    color: #f60;
    transition: .2s;
  }

  &__search {

    input,
    select {
      padding: 4px 10px;
      font-size: 14px;
      background-color: #fff;
      border: none;
    }

    button {
      padding: 4px 10px;
      font-size: 16px;
      color: #325cf8;
      border: none;
      cursor: pointer;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      color: #f93;
    }
  }
}
.reservation {
  &__summary{
    text-align: left;
    padding: 20px 40px;
  }
}
.reservation-comfirm {
  &__card {
    width: 720px;
    margin: 0 auto;
  }

  &__inner {
    position: relative;
    background-color: #325cf8;
    margin: 30px 10px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    padding: 10px;

    h3 {
      padding: 20px 0 0 30px;
      font-weight: normal;
    }
  }

  &__form {
    display: inline;
  }

  &__button {
    background-color: #325cf8;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 200px;
    padding: 5px 9px 7px 9px;
    line-height: none;
    cursor: pointer;
  }

  &__button:hover {
    opacity: .5;
  }
}

.change {
  position: absolute;
  top: 20px;
  right: 20px;

  a {
    color: #fff;
    margin-right: 20px;
  }

  a:hover {
    opacity: .5;
  }
}

.detail {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__card {
    max-width: 600px;
    margin: 0 auto;

    img {
      width: 100%;
    }

  }
}

.reservation__card {
  display: none;
  max-width: 600px;
  margin: 0 auto;
}

.reservation__link {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;

  a {
    padding: 8px 20px;
    border: #325cf8 solid 1px;
    color: #325cf8;
    font-size: 18px;
  }

  a:hover {
    border: #f93 solid 1px;
    color: #f93;
    transition: .2s;
  }
}

.favorite {
  &__card {
    max-width: 720px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__form {
    display: inline;
  }
}
.thanks__inner {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 0 80px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

  p {
    font-size: 24px;
    margin-bottom: 60px;
  }

  a {
    margin-top: 20px;
    padding: 8px 30px;
    color: #fff;
    background-color: #325cf8;
    border-radius: 4px;
  }

  a:hover {
    background-color: #f60;
    color: #fff;
    transition: .2s;
  }
}

.review {
  max-width: 1340px;
  margin: 0 auto;
  padding: 12px;


  &__inner {
    h2 {
      background-color: #325cf8;
      color: #fff;
      font-weight: normal;
      text-align: center;
      font-size: 20px;
      padding: 4px 0;
    }
  }
  &__card {
    padding: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
  }

  &__link {
    text-align: right;
    p {
      display: inline;
    }
    a {
      font-size: 14px;
      text-decoration: underline;
      color: #000;
    }
    a:hover {
      color: #f93;
    }
    form {
      display: inline;
    }
    button {
      appearance: none;
      border: none;
      background: none;
      text-decoration: underline;
      padding: 0 10px ;
      color: #000;
      font-size: 14px;
      cursor: pointer;
    }
    button:hover {
      color: #f93;
    }
  }

  &__form {
    width: 600px;
    padding-left: 40px;
  }

  &__rating--add {
    color: #325cf8;
    font-size: 28px;
  }

  &__rating--remove {
    color: #999;
    font-size: 28px;
  }

  &__button {
    appearance: none;
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0 10px ;
    color: #000;
    font-size: 16px;
    cursor: pointer;
  }

  &__button:hover {
    color: #f93;
    transition: .3s;
  }
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  input {
    display: none;
  }
  label {
    font-size: 28px;
    color: #ddd;
    cursor: pointer;
  }
  input:checked ~ label {
    color: #325cf8;
  }
}

.rating > input:hover ~ label,
.rating > input:hover ~ label ~ label {
  color: #325cf8;
}

.favorite__button--gray {
  position: absolute;
  bottom: -12px;
  right: 10px;
  appearance: none;
  color: #999;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 36px;
}

.favorite__button--gray:hover {
  color: #f60;
  border: none;
  background: none;
  transition: .8s;
}

.favorite__button--red {
  position: absolute;
  bottom: -12px;
  right: 10px;
  appearance: none;
  color: #dc3545;
  background-color: #fff;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.favorite__button--red:hover {
  opacity: .75;
}


@media (min-width:768px) {
  .search__inner {
    position: fixed;
    top: 45px;
    right: 10%;
    z-index: 999;
  }

  .form {
    text-align: center;
    max-width: 864px;
    margin: 0 auto 40px;

    &__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      padding: 10px;
      font-size: 18px;

      label {
        font-size: 18px;
      }

      input,
      select,
      textarea {
        width: 75%;
        padding: 10px;
      }
    }

    &__text--confirm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      padding: 10px;
      font-size: 18px;

      label {
        font-size: 18px;
      }

      input,
      select,
      textarea {
        width: 80%;
        padding: 10px;
        border: none;
        background-color: #ddd;
        outline: none;
      }
    }

    &__button {
      margin-top: 20px;
      padding: 8px 30px;
      font-size: 18px;
      background-color: #eee;
      border: 1px solid #325cf8;
      color: #325cf8;
    }

    &__button:hover {
      border: 1px solid #f60;
      color: #f60;
      transition: .2s;
    }
    &__file {
      width: 40%;
    }

    &__search {

      select {
        display: inline;
        padding: 1em 20px;
        font-size: 16px;
        vertical-align: bottom;
        box-shadow: 10px 5px 10px 0 #999;
      }

      input {
        display: inline;
        padding: 1em 20px;
        font-size: 16px;
        vertical-align: bottom;
        box-shadow: 10px 5px 10px 0 #999;
      }

      button {
        padding: 1em 20px;
        font-size: 16px;
        color: #325cf8;
        border: none;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 10px 5px 10px 0 #999;
        border-radius: 0 4px 4px 0;
      }

      button:hover {
        color: #f93;
      }
    }
  }

  .card {
    &__inner {
      margin: 0 10px 20px 10px;
    }
  }

  .reservation-comfirm {
    &__card {
      width: 600px;
      margin: 0 auto;
    }

    &__inner {
      margin: 20px 0;
    }
  }

  .reservation__card {
    display: block;
    position: relative;
    width: 600px;
    height: 640px;
    margin-top: 30px;
    background-color: #325cf8;
    border-radius: 8px;
    color: #fff;
    text-align: center;

    label {
      font-weight: bold;
    }

    .form__text {
      margin: 0 20px;
    }

    .form__button {
      position: absolute;
      padding: 10px 0;
      cursor: pointer;
      background-color: #0837f7;
      color: #fff;
      bottom: 0;
      left: 0;
      width: 100%;
      border: none;
      border-radius: 0 0 9px 9px;
    }

    .form__button:hover {
      background-color: #f93;
      color: #fff;
      transition: .2s;
    }
  }

  .rating {
    label {
      font-size: 36px;
    }
  }

  .reservation__link {
    display: none;
  }
}