h1 {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding: 20px 0;
}
h1 a {
  color: #00f;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: 0.2s;
}
h1 a:hover {
  color: #f60;
}
h1 span {
  display: inline-block;
  margin: 0 20px;
}

h2 {
  margin-left: 7px;
}

.flex__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.card__inner {
  width: 340px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.card__inner img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
}
.card__text {
  padding: 30px 20px;
}
.card__text h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.card__text p {
  margin: 4px 0 16px;
  padding: 0;
  font-size: 14px;
}
.card__text a {
  color: #fff;
  background-color: #325cf8;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 15px;
}
.card__text a:hover {
  background-color: #f60;
  transition: 0.4s;
}
.card__link {
  position: relative;
}

.form {
  max-width: 864px;
  margin: 0 auto 40px;
}
.form__text {
  margin: 20px 0;
  padding: 10px;
}
.form__text label {
  display: block;
  font-size: 14px;
  margin: 0 0 5px 5px;
}
.form__text input,
.form__text select,
.form__text textarea {
  width: 100%;
  padding: 10px;
}
.form__text--confirm {
  margin: 20px 0;
  padding: 10px;
  font-size: 14px;
}
.form__text--confirm label {
  display: block;
  font-size: 14px;
  margin: 0 0 5px 5px;
}
.form__text--confirm input,
.form__text--confirm select,
.form__text--confirm textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ddd;
  outline: none;
}
.form__button {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 18px;
  background-color: #eee;
  border: 1px solid #325cf8;
  color: #325cf8;
  cursor: pointer;
}
.form__button:hover {
  border: 1px solid #f60;
  color: #f60;
  transition: 0.2s;
}
.form__search input,
.form__search select {
  padding: 4px 10px;
  font-size: 14px;
  background-color: #fff;
  border: none;
}
.form__search button {
  padding: 4px 10px;
  font-size: 16px;
  color: #325cf8;
  border: none;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
}
.form__search button:hover {
  color: #f93;
}

.reservation__summary {
  text-align: left;
  padding: 20px 40px;
}

.reservation-comfirm__card {
  width: 720px;
  margin: 0 auto;
}
.reservation-comfirm__inner {
  position: relative;
  background-color: #325cf8;
  margin: 30px 10px;
  color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.reservation-comfirm__inner h3 {
  padding: 20px 0 0 30px;
  font-weight: normal;
}
.reservation-comfirm__form {
  display: inline;
}
.reservation-comfirm__button {
  background-color: #325cf8;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 200px;
  padding: 5px 9px 7px 9px;
  line-height: none;
  cursor: pointer;
}
.reservation-comfirm__button:hover {
  opacity: 0.5;
}

.change {
  position: absolute;
  top: 20px;
  right: 20px;
}
.change a {
  color: #fff;
  margin-right: 20px;
}
.change a:hover {
  opacity: 0.5;
}

.detail__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.detail__card {
  max-width: 600px;
  margin: 0 auto;
}
.detail__card img {
  width: 100%;
}

.reservation__card {
  display: none;
  max-width: 600px;
  margin: 0 auto;
}

.reservation__link {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.reservation__link a {
  padding: 8px 20px;
  border: #325cf8 solid 1px;
  color: #325cf8;
  font-size: 18px;
}
.reservation__link a:hover {
  border: #f93 solid 1px;
  color: #f93;
  transition: 0.2s;
}

.favorite__card {
  max-width: 720px;
  margin: 0 auto;
}
.favorite__inner {
  display: flex;
  flex-wrap: wrap;
}

.thanks__inner {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 0 80px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.thanks__inner p {
  font-size: 24px;
  margin-bottom: 60px;
}
.thanks__inner a {
  margin-top: 20px;
  padding: 8px 30px;
  color: #fff;
  background-color: #325cf8;
  border-radius: 4px;
}
.thanks__inner a:hover {
  background-color: #f60;
  color: #fff;
  transition: 0.2s;
}

.review {
  max-width: 1340px;
  margin: 0 auto;
  padding: 12px;
}
.review__inner h2 {
  background-color: #325cf8;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  padding: 4px 0;
}
.review__card {
  padding: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.review__link {
  text-align: right;
}
.review__link p {
  display: inline;
}
.review__link a {
  font-size: 14px;
  color: #000;
}
.review__link a:hover {
  color: #f93;
}
.review__link form {
  display: inline;
}
.review__link button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 0 10px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
.review__link button:hover {
  color: #f93;
}
.review__rating--add {
  color: #325cf8;
  font-size: 28px;
}
.review__rating--remove {
  color: #999;
  font-size: 28px;
}
.review__button {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: #325cf8;
  border: #325cf8 1px solid;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
}
.review__button:hover {
  color: #f93;
  border: #f93 1px solid;
  transition: 0.3s;
}

.favorite__button--gray {
  position: absolute;
  bottom: -22px;
  right: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #999;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
}

.favorite__button--gray:hover {
  color: #f60;
  border: none;
  background: none;
  transition: 0.8s;
}

.favorite__button--red {
  position: absolute;
  bottom: -22px;
  right: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #dc3545;
  background-color: #fff;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.favorite__button--red:hover {
  opacity: 0.75;
}

@media (min-width: 768px) {
  .search__inner {
    position: fixed;
    top: 45px;
    right: 10%;
    z-index: 999;
  }
  .form {
    text-align: center;
    max-width: 864px;
    margin: 0 auto 40px;
  }
  .form__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    font-size: 18px;
  }
  .form__text label {
    font-size: 18px;
  }
  .form__text input,
  .form__text select,
  .form__text textarea {
    width: 80%;
    padding: 10px;
  }
  .form__text--confirm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    font-size: 18px;
  }
  .form__text--confirm label {
    font-size: 18px;
  }
  .form__text--confirm input,
  .form__text--confirm select,
  .form__text--confirm textarea {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #ddd;
    outline: none;
  }
  .form__button {
    margin-top: 20px;
    padding: 8px 30px;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #325cf8;
    color: #325cf8;
  }
  .form__button:hover {
    border: 1px solid #f60;
    color: #f60;
    transition: 0.2s;
  }
  .form__file {
    width: 40%;
  }
  .form__search select {
    display: inline;
    padding: 1em 20px;
    font-size: 16px;
    vertical-align: bottom;
    box-shadow: 10px 5px 10px 0 #999;
  }
  .form__search input {
    display: inline;
    padding: 1em 20px;
    font-size: 16px;
    vertical-align: bottom;
    box-shadow: 10px 5px 10px 0 #999;
  }
  .form__search button {
    padding: 1em 20px;
    font-size: 16px;
    color: #325cf8;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 10px 5px 10px 0 #999;
    border-radius: 0 4px 4px 0;
  }
  .form__search button:hover {
    color: #f93;
  }
  .card__inner {
    margin: 0 10px 20px 10px;
  }
  .reservation-comfirm__card {
    width: 600px;
    margin: 0 auto;
  }
  .reservation-comfirm__inner {
    margin: 20px 0;
  }
  .reservation__card {
    display: block;
    position: relative;
    width: 600px;
    height: 640px;
    margin-top: 30px;
    background-color: #325cf8;
    border-radius: 8px;
    color: #fff;
    text-align: center;
  }
  .reservation__card label {
    font-weight: bold;
  }
  .reservation__card .form__text {
    margin: 0 20px;
  }
  .reservation__card .form__button {
    position: absolute;
    padding: 10px 0;
    cursor: pointer;
    background-color: #0837f7;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0 0 9px 9px;
  }
  .reservation__card .form__button:hover {
    background-color: #f93;
    color: #fff;
    transition: 0.2s;
  }
  .reservation__link {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */