h1 {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding: 40px 0;

  a {
    color: #00f;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    transition: .2s;
  }

  a:hover {
    color: #f60;
  }

  span {
    display: inline-block;
    margin: 0 20px;
  }
}

table {
  margin: 0 auto;
}

tr {
  border-top: 1px solid #000;
}

th,
td {
  text-align: center;
  padding: 10px 4px;
  font-size: 14px;
  border-top: 1px solid #000;
}


.form {
  max-width: 864px;
  margin: 0 auto 40px;

  &__search {
    padding: 10px;
    width: 90%;
  }

  &__search-button {
    background-color: #eee;
    border: none;
    color: #325cf8;
    cursor: pointer;
  }

  &__search-button:hover {
    color: #f60;
  }

  &__text {
    margin: 20px 0;
    padding: 10px;

    label {
      display: block;
      font-size: 14px;
      margin: 0 0 5px 5px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
    }
  }

  &__text--confirm {
    margin: 20px 0;
    padding: 10px;
    font-size: 14px;

    label {
      display: block;
      font-size: 14px;
      margin: 0 0 5px 5px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #ddd;
      outline: none;
    }
  }

  &__button {
    display: block;
    font-size: 14px;
    background-color: #eee;
    border: none;
    color: #325cf8;
    margin: 0 auto;
    cursor: pointer;
  }

  &__button:hover {
    border: none;
    color: #f60;
    transition: .2s;
  }

  &__button--danger {
    font-size: 14px;
    background-color: #eee;
    border: none;
    color: #f00;
    cursor: pointer;
  }

  &__button--danger:hover {
    background-color: #f00;
    border: none;
    color: #eee;
    transition: .2s;
  }
}

@media (min-width:768px) {
  .form {
    text-align: center;
    max-width: 864px;
    margin: 0 auto 40px;

    &__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      padding: 10px;
      font-size: 18px;

      label {
        font-size: 18px;
      }

      input,
      select,
      textarea {
        width: 80%;
        padding: 10px;
      }
    }

    &__text--confirm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      padding: 10px;
      font-size: 18px;

      label {
        font-size: 18px;
      }

      input,
      select,
      textarea {
        width: 80%;
        padding: 10px;
        border: none;
        background-color: #ddd;
        outline: none;
      }
    }

    &__button {
      display: inline;
      padding: 8px 30px;
      font-size: 18px;
      background-color: #eee;
      border: 1px solid #325cf8;
      color: #325cf8;
    }

    &__button:hover {
      border: 1px solid #f93;
      color: #f93;
      transition: .2s;
    }
    &__button--danger {
      padding: 8px 30px;
      font-size: 18px;
      background-color: #eee;
      border: 1px solid #f00;
      color: #f00;
    }
    &__button--danger:hover {
      background-color: #f00;
      border: 1px solid #f00;
      color: #eee;
      transition: .2s;
    }
  }

  tr {
    border-top: 1px solid #000;
  }

  th,
  td {
    text-align: left;
    padding: 20px 35px;
    font-size: 15px;
    border: none;
  }
}